.containerSection {
  max-width: 1200px;
  margin: 80px auto;
}
.containerSectionProducts {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.title {
  font-size: 3rem;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  gap: 20px;
  font-size: 1.5rem;
}

.list li {
  list-style: none;
  cursor: pointer;
}

.containerFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.btn {
  border-radius: 25px;

  padding: 10px 20px;
}
