.form {
  gap: 1rem;
  width: 95%;
  max-width: 600px;
  margin: auto;
  padding: 10px 0;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form label input {
  padding: 8px;
}
