@font-face {
  font-family: "MyCalibri";
  src: url("../../public/calibri-font-family/calibri-regular.ttf");
  src: url("../../public/calibri-font-family/calibri-bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: MyCalibri;
}
