.view {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.product {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.containerText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 20%;
}

.containerText p,
.containerText h2,
.containerText {
  margin: 0;
  transition: all 0.3s;
}

.containerBtn {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.img {
  opacity: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.img_active {
  opacity: 1;
}

.picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
