.containerView {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  width: 100%;
}

.formUpdate {
  gap: 1rem;
}

.formUpdate label {
  display: flex;
  flex-direction: column;
}

.formUpdate label input {
  padding: 8px;
}
